.hero {
  height: 28vh;
  background-color: var(--hero-banner);
  display: flex;
  z-index: 1;
  position: relative;
}

.hero img {
  width: 100vw;
  z-index: 2;
}

.hero-right {
  width: 50vw;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--hero-banner);
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
}

.hero-right h2,
.hero-right p {
  margin: 0;
  padding: 0;
}

.hero-right h2 {
  font-size: 1.3rem;
}

.middle {
  margin: 5px;
  font-size: 0.9rem;
}

.ulist {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ulist li {
  border: none;
  margin: 0;
  padding: 0;
}

.ulist li:nth-child(4n+2),
.ulist li:nth-child(4n+3) {
  background-color: var(--right-card);
}

.ulist button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  color: var(--font-color);
}

.card {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 0.5rem 1rem 0;
}

.card h3,
.card h4,
.card h5,
.card h6 {
  margin: 0;
  padding: 0;
  text-align: right;
}

.card h5 {
  margin-bottom: 0.5rem;
}
