@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --logo-font-color: #212529;
  --nav-link-rsv-rkt-btn-color: #097fff;
  --nav-link-sptr-bar-color: #404347;
  --rkt-name-color: #23272b;
  --rkt-descipt-color: #24282c;
  --rkt-rsv-msn-am-bdg-color: #18a2b8;
  --rkt-rsv-cancel-btn-text-color: #777e85;
  --rkt-rsv-cancel-btn-bdr-color: #7f868d;
  --msn-table-hdr-descipt-color: #212529;
  --msn-table-odd-row-bg-color: #f2f2f2;
  --msn-table-nam-bdg-color: #6d757d;
  --msn-table-lm-btn-text-color: #dd3a49;
  --msn-table-lm-btn-bdr-color: #e04f5c;
  --msn-table-jm-btn-text-color: #343a40;
  --msn-table-jm-btn-bdr-color: #343a40;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.parent-container {
  background-color: #fafafa;
}

.container {
  margin: 0 5.75rem 0 5rem;
}
